.background{
    background-color: floralwhite;
 }

 .title1{
    color: darkgreen;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
 }

 .title2{
    color:cornflowerblue;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
 }

 .title3{
    color: darkslategrey;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
 }

 .title4{
   color:cornflowerblue;
   font-size: 80px;
   font-family: 'Times New Roman', Times, serif;
}

.title5{
   color: darkslategrey;
   font-size: 25px;
   font-family: 'Times New Roman', Times, serif;
}

.title6{
   color:cornflowerblue;
   font-size: 80px;
   font-family: 'Times New Roman', Times, serif;
}

.title7{
   color: darkslategrey;
   font-size: 25px;
   font-family: 'Times New Roman', Times, serif;
}

.title8{
   color:cornflowerblue;
   font-size: 80px;
   font-family: 'Times New Roman', Times, serif;
}

.title9{
   color: darkslategrey;
   font-size: 25px;
   font-family: 'Times New Roman', Times, serif;
}

