.background{
   background-color: floralwhite;
}

.title{
   color: darkgreen;
   font-size: 200px;
   font-family: 'Times New Roman', Times, serif;
}

.map{
   color: cornflowerblue;
   font-size: 80px;
   font-family: 'Times New Roman', Times, serif;
}
.title2{
   color:cornflowerblue;
   font-size: 80px;
   font-family: 'Times New Roman', Times, serif;
}

.title3{
   color:cadetblue;
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
}

.title4{
   color:cadetblue;
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
}

.title5{
   color:cadetblue;
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
}

.title6{
   color:cadetblue;
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
}

.title7{
   color:cadetblue;
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
}

.title8{
   color:cadetblue;
   font-size: 50px;
   font-family: 'Times New Roman', Times, serif;
}

.margen{
   margin-top: -10%;
}